##

In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('ALL_BUK_AT.csv', index_col = 0)
df

,L.TINY,TINY,KID,TEEN,ADULT,FAMILY,DEMO,STOP,TUE,WED,THU,FRI,SAT,SUN
MONTH,,,,,,,,,,,,,,
JAN,36,38,195,49,18,4,21,15,38,32,35,44,129,93
FEB,37,38,198,51,17,2,14,4,39,30,36,37,125,100
MAR,37,39,193,54,35,1,13,21,48,36,37,41,124,100
APR,56,39,200,55,39,0,14,1,48,34,36,41,127,97
MAY,77,39,207,55,41,0,14,0,50,36,40,45,127,97
JUN,68,39,209,54,45,0,14,0,49,37,40,44,130,102

In [3]:
import seaborn as sns
from matplotlib import pyplot as plt

In [4]:
# 열카테고리
df.columns

Index(['L.TINY', 'TINY', 'KID', 'TEEN', 'ADULT', 'FAMILY', 'DEMO', 'STOP',
       'TUE', 'WED', 'THU', 'FRI', 'SAT', 'SUN'],
      dtype='object')

In [5]:
# 행 카테고리
df.index

Index(['JAN', 'FEB', 'MAR', 'APR', 'MAY', 'JUN'], dtype='object', name='MONTH')

In [7]:
# 행과 열의 개수
df.shape

(6, 14)

In [ ]:
# 클라스추이
- 막대그래프(BAR CHART)
- 선 도표(LINE CHART)
- 면적그래프(AREA CHART)
- 원그래프/파이도(PIE CHART)